/* PHASE 11: Icons */

[class*="icon-"] {
    background-image: url('../images/sprite.png');
    background-size: 25px 250px;
    display: inline-block;
    width: 25px;
    height: 0px;
    overflow: hidden;
    padding-top: 25px;
}

.icon-comment {
    background-position: 0px 0px;
}

.icon-favorite {
    background-position: 0px -50px;
}

.icon-reblog {
    background-position: 0px -100px;
}


[class*="icon-small-"] {
    width: 20px;
}

.icon-wall {
    background-position: 0px 50px;
}

.icon-about {
    background-position: 0px 150px;
}

.icon-friends {
    background-position: 0px 200px ;
}

.icon-photos {
    background-position: 0px 100px;
}