.tower {
    display: flex;
    margin: 30px;
    width: 10px;
    height: 200px;
    background-color: blue;
    border: 3px solid black;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}

.disc {
    width: 50px;
    height: 30px;
    background-color: green;
    list-style: none;
    border: 1px solid red;
}

.hanoi {
    display: flex;
    margin: auto;
}