/* PHASE 5: Cats */

.content-header {
    height: 250px;
    width: 100%;
    background: url("../images/cats.jpg");
    background-size: cover;
}

.content-header > h1{
    text-shadow: 2px 2px #ff0000;
    position: absolute;
    color: #fff;
    font-size: 36px;
    line-height: 1;
    top: 230px;
    left: 500px;
}

.add-button {
    position: absolute; 
    color: #000;
    background: #fff;
    border-radius: 5px;
    top: 225px;
    right: 310px; 
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: 700;
}

.add-button:hover {
    background: #eee;
}